.nav
  %ul.listsLeft
    %li.listsLeft__item.listsLeft__item--first
      =link_to "カテゴリー" ,"#",id: "catBtn"  
      .tree.displayNone
        %ul.categoryTree
          %li.categoryTree--item
            =link_to "レディース","#" ,id:"#1"
          %li.categoryTree--item
            =link_to "メンズ","#" ,id:"#2"
          %li.categoryTree--item
            =link_to "ベビー・キッズ","#" ,id:"#3"
          %li.categoryTree--item
            =link_to "インテリア・住まい・小物","#" ,id:"#4"
          %li.categoryTree--item
            =link_to " 本・音楽・ゲーム","#" ,id:"#5"
          %li.categoryTree--item  
            =link_to "おもちゃ・ホビー・グッズ","#" ,id:"#6"
          %li.categoryTree--item
            =link_to "コスメ・香水・美容","#" ,id:"#7"
          %li.categoryTree--item
            =link_to "家電・スマホ・カメラ","#" ,id:"#8"
          %li.categoryTree--item
            =link_to "スポーツ・レジャー","#" ,id:"#9"
          %li.categoryTree--item
            =link_to "ハンドメイド","#" ,id:"#10"
          %li.categoryTree--item
            =link_to "チケット","#" ,id:"#11"
          %li.categoryTree--item
            =link_to "自動車・オートバイ","#" ,id:"#12"
          %li.categoryTree--item
            =link_to "その他","#" ,id:"#13"  
    %li.listsLeft__item
      =link_to "ブランド" ,"#",id: "brandBtn"  
      %ul.brandsPulldown.displayNone
  - if user_signed_in?
    %ul.listsRight
      %li
        = link_to mypages_path do
          .header-bottom__right--image 
          %span マイページ
  - else
    %ul.listsRight
      %li.listsRight__item.listsRight__item--login
        =link_to 'ログイン', new_user_session_path
      %li.listsRight__item.listsRight__item--new
        =link_to '新規会員登録', new_user_registration_path