%ul.subFooter__content__box
  %li.subFooter__content__box__comment
    プライバシーポリシー
  %li.subFooter__content__box__comment
    フリマ利用規約
  %li.subFooter__content__box__comment
    特定商取引に関する表記
%small.subFooter__content__copyright
  © Furima,inc.