%ul.footer__content__box
  %li.footer__content__box__comment
    プライバシーポリシー
  %li.footer__content__box__comment
    フリマ利用規約
  %li.footer__content__box__comment
    特定商取引に関する表記
%small.footer__content__copyright
  © Furima,inc.